.navbar-custom {
    background-color: rgb(106, 79, 134);
}

@font-face {
    font-family: "BouquetTypeface";
    src: url('../fonts/BouquetTypeface.otf') format("opentype");
}
.After_Five {
  font-size: 200%;
  font-family: "BouquetTypeface";
  color: rgb(255, 255, 255);
  text-align: left;
  padding-bottom: 4%;
}



